section#header {
	// global header styles:
	color: #fff;
	background-image: url('https://res.cloudinary.com/drkmakxkk/image/upload/v1474458217/header-bg_beddcl.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 950px;

	.navbar-default {
		background-color: rgba(255, 255, 255, .0);;
		border-color:     rgba(255, 255, 255, .0);
	}
		
	.navbar-default .navbar-brand {
		color: rgba(255, 255, 255, 1);
	}

	.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
		color: rgba(255, 255, 255, 1);
	}

	// change link colors:
	a {
		color: rgba(255, 255, 255, 1);	
	}
}

.text-slider {
	// slider styles:
	//border: 1px solid white;
	display: flex;
	justify-content: center;
	align-items: center;

	.slides {
		position: relative;

	}

	.prev {
		position: absolute;
		right: 70%;
		top: 10%;
	}

	.next  {
		position: absolute;
		left: 70%;
		top: 10%;
	}

	.tracker-bullets {
		position: absolute;
		top: 17%;
	}
	
	.slide {
		display: none;
	}

	.display-slide {
		display: inline;
	}
}

