$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import "header/_header.scss";

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

// /* Small devices (tablets, 768px and up) */
// @media (min-width: @screen-sm-min) { ... }

// /* Medium devices (desktops, 992px and up) */
// @media (min-width: @screen-md-min) { ... }

// /* Large devices (large desktops, 1200px and up) */
// @media (min-width: @screen-lg-min) { ... }


// THIS IS WHERE I WILL KEEP ALL MY GLOBAL STYLES:
.btn-white-outline {
  color: #fff;
  background-color: rgba(255,255,255, .0);
  border: 2px solid #fff;
  border-radius: 25px;
  padding: 6px 35px;

  &:hover {
    background-color: rgba(255,255,255, .20);
    border: 2px solid #fff;
    color: #fff;
    transition: background-color .4s;

  }

  &:active, &:focus {
    background-color: rgba(255,255,255, .40);
    border: 2px solid #fff;
    outline: 0 !important;
    color: #fff;
  }
}

.ligten-text {
  font-weight: lighter;
}